*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.logo{
    font-size: 18px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}
.home{
    height: 100vh;
    background: linear-gradient(-90deg,#031540 65%,#fff 35%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}
.home-image{
    width: 250px;
    height: 250px;
/*     background: seagreen; */
}
.home-content{
    max-width: 600px;
    color: #fff;
    text-align: left;
}
.home-content h1{
    font-size: 45px;
    line-height: 1.2;
}
.home-content h3{
    font-size: 35px;
    -webkit-text-stroke: .5px #fff;
}
.home-content p{
    font-size: 14px;
/*     margin-top: 15px; */
}
